@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("ProductList")
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                TBA: Shopping Cart
            </div>
        </div>
    </div>

</div>